// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "UTF-8";

/* Base */
html { font-family: "Arial Black","Ropa Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif; font-size: 18px; line-height: 1.5; }
body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); min-width: 960px; height: 100%;}
ul { padding-left: 0; }
ul li { list-style-type: none; }
a { color: inherit; text-decoration: none; }
img { vertical-align: middle; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


#page{
  width: 100%;
  margin: auto;
  scroll-behavior:smooth;
}
#name{
  position: relative;
  width: 1200px;
  margin: auto;
  height: 40px;
  background-color: navy;
  z-index: 20;
  color: white;
}
#logo{
  position: relative;
  text-align: center;
  width: 100%;
  margin-left: 45px;

  z-index: 20;
}
ul{
  text-align: center;
  color: navy;
  z-index: 20;
  
}
li{
  position: relative;
  display:inline-block;
  margin-right: 15px;
  margin-left: 15px;
  z-index: 20;
}
#main{
  position: relative;
  text-align: center;
  margin-top: -50px;
  margin-bottom: -100px;
  z-index: 10;
}
#kite{
  margin-left: -0px;
  position: relative;
  text-align: center;
  z-index: 20;
}
#aboutbox{
  margin-top: -70px;
}
#about{
  text-align: left;
  width: 550px;
  margin: auto;
  position: relative;
  z-index: 20;

}
#toudai{
  margin-top: 0px;
  margin-bottom: -180px;
  margin-left: 300px;
  position: relative;
  text-align: center;
  z-index: 20;
}
#snsh{
  margin-left: 150px;
  margin-top: -100px;
  margin-bottom: 50px;
}
#insta{
  width: 700px;
  height: 200px;
  margin-bottom: -50px;
}
#sns{
  text-align: center;
  width: 700px;
  margin: auto;
  margin-bottom: 100px;
  position: relative;
  z-index: 20;
}
#movie{
  margin-top: -120px;
  margin-right: 400px;
}
.info{
  margin-top: -461px;
  width: 400px;
  height: 225px;
  margin-left: 400px;

}
.infon{
  font-size: 18px;
  color: navy;
  font-weight: bolder;
}

h1{
  -webkit-text-stroke: 3px navy;
  color: white;
  font-size: 40px;

 }
.slider {
  z-index: 20;
  width: 800px;
  height: 400px;
  margin: -100px auto auto auto;
  position: relative;
  overflow: hidden;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.nav {
  width: 8px;
  height: 8px;
  margin: 1rem 8px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #333;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #0970ff, 0 0 0 0 rgba(9 ,112 ,255, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.nav:checked {
  -webkit-animation: check 0.5s linear forwards;
  animation: check 0.5s linear forwards;
}
.nav:checked:nth-of-type(1) ~ .slider_in {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.nav:checked:nth-of-type(2) ~ .slider_in {
  -webkit-transform: translateX(-33.35%);
  transform: translateX(-33.35%);
}
.nav:checked:nth-of-type(3) ~ .slider_in {
  -webkit-transform: translateX(-66.7%);
  transform: translateX(-66.7%);
}

.slider_in {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider ul li {
  width: 100%;
  height:auto;
  text-align: center;
}
.slider ul li p {
  width: 340px;
  height: 60px;
  margin: 140px auto 0 auto;
  text-align: center;



}
.slider ul li img {
  width: 100%;
  height:auto;
}

@-webkit-keyframes check {
  50% {
    outline-color: #0970ff;
    box-shadow: 0 0 0 6px #0970ff, 0 0 0 26px rgba(9 ,112 ,255, 0.4);
  }
  100% {
    outline-color: #0970ff;
    box-shadow: 0 0 0 0 #0970ff, 0 0 0 0 rgba(9 ,112 ,255, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #0970ff;
    box-shadow: 0 0 0 6px #0970ff, 0 0 0 26px rgba(9 ,112 ,255, 0.4);
  }
  100% {
    outline-color: #0970ff;
    box-shadow: 0 0 0 0 #0970ff, 0 0 0 0 rgba(9 ,112 ,255, 0);
  }
}

li {
  list-style: none;
}

ul#gallary li {
  float: left;
  margin-right: 1.4%;
  margin-bottom: 1.4%;
}

ul#gallary li:nth-child(5n) {
  margin-right: 0;
}

.swiper-wrapper{
  margin: 200px 0px 200px -350px;

}

.topics-list .title {
  font-size: 15px;
  line-height: 1.34;
  letter-spacing: 1px;
  font-weight: normal;
  color: rgba(100, 100, 100, 1);
}
.topics-list .date {
  color: rgba(100, 100, 100, 1);
  display: block;
  font-size: 15px;
  margin-bottom: 0;
}
.topics-list .description {
  color: rgb(77, 77, 77);
  font-size: 15px;
  line-height: 1.75;
  text-align: center;
}
.swiper-slide {
  text-align: center;
  font-size: 15px;
}

#info{
  text-align: center;
  width: 400px;
  margin: auto;

}

footer{
  border-top: solid navy 4px;

  width: 100%;
  font-size: 15px;
  margin: -3px auto auto auto;
  text-align: center;
}
#line{
  border-top: solid white 2px;
  border-bottom: solid red 4px;
}
#copyright{
  color: rgba(100, 100, 100, 1);
}

#kamomebox{
  width: 300px;
  margin: 60px auto 40px auto;
}
#kammomes{
  margin-top: 100px;
}
.kamome{
  animation: huwahuwa 2s ease-in-out -13s infinite alternate;
}
.kamome:nth-child(1){
  margin-left:-20px;
  animation-delay: 2.3s;
}
.kamome:nth-child(2){
  margin-left:-80px;
  margin-top: -50px;
  animation-duration: 1.9s;
}
@keyframes huwahuwa {
  0% { transform:translateY(-10px); }
  100% { transform:translateY(  0px); }
}
#roop {
  margin: auto;
  width: 100%;
  height: 80px;
  background: url(enoden.jpg);
  background-size: 400px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-animation: bgroop 40s linear infinite;
  animation: bgroop 40s linear infinite;
}
@-webkit-keyframes bgroop {
  from {
    background-position: 0  0;
  }
  to {
    background-position: 1200px 0;
  }
}
@keyframes bgroop {
  0% {background-position: -50% 0;}
  10% {background-position: -30% 3px;}
  20% {background-position: 0% 0px;}
  30% {background-position: 20% 3px;}
  40% {background-position: 40% 0px;}
  50% {background-position: 60% 3px;}
  60% {background-position: 80% 0px;}
  70% {background-position: 100% 3px;}
  80% {background-position: 120% 0px;}
  90% {background-position: 140% 3px;}
  100% {background-position: 160% 0px;}


}